<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>JSON Processor Tool</title>
<link rel="stylesheet" href="/app/ui/static/style.css">
</head>
<body>
<div class="container">
  <div class="main-row">
    <!-- Kiri: Full input JSON -->
    <div class="panel json-panel" style="flex:1;">
      <textarea id="jsonInput" placeholder="Paste JSON..."></textarea>
    </div>
    <!-- Kanan: Output -->
    <div class="panel output-panel" style="flex:1;">
      <div id="output"><pre>Hasil akan muncul di sini...</pre></div>
    </div>
  </div>
</div>

<script src="/app/ui/static/scripts.js"></script>
</body>
</html>
